#app {
  .app__main-container,
  .app__central-container {
    lost-utility: clearfix;
  }
  .app__main {
    max-width: 500px;
  }
  .app__main,
  .app__central-container {
    margin-bottom: 0.5em;
  }

  .app__frames-container {
    margin-bottom: 0.3em;
  }

  .app__frames-container[data-tooltip]::after {
    width: 80%;
    margin-left: -40%;
  }

  .app__load-save-container {
    margin-bottom: 2em;

    .app__load-button {
      @mixin button gray;
    }

    lost-utility: clearfix;

    > div,
    > button {
      lost-column: 1/2 0 0.5em;
    }
  }

  .app__social-container {
    .app__download-button {
      @mixin button brown;
      @mixin icon download;

      width: 100%;
      margin-top: 1em;
    }
  }

  .app__help-container {
    lost-utility: clearfix;
    margin: 1em 0;

    > div {
      lost-column: 1/2 0 0.5em;
    }

    .app__toggle-help-button {
      @mixin button darkblue;
      @mixin icon help;

      &.selected {
        box-shadow: 0 0 0 2px $color-silver;
      }

      width: 100%;
    }

    .app__shortcuts-button {
      @mixin button darkblue;
      @mixin icon keybindings;

      width: 100%;
    }
  }

  .app__copycss-button {
    @mixin button white;

    width: 100%;
    margin-top: 1em;
    font-weight: bold !important;
    color: $color-mineShaft;
  }

  .app__preview-button {
    @mixin button gray;

    width: 100%;
    margin: 0 0 0.6em;
    display: table;
  }

  .app__tools-wrapper {
    position: relative;
    right: 7px;
    margin-top: 0px;
    display: inline-block;
    > div {
      display: inline-block;
      button {
        position: relative;
        font-size: 17px;
        vertical-align: middle;

        padding: 5 px;
        text-align: center;
        color: $color-mineShaft;
        border: none;
        background-color: transparent;

        &:focus {
          outline: 0;
        }

        &.selected {
          color: $color-silver;
          background-color: $color-mineShaft;

          & > div {
            background-color: $color-mineShaft;
          }
        }
      }
    }
  }

  .app__left-side,
  .app__right-side {
    width: 60%;
  }

  .app__right-side {
    margin-left: auto;
    margin-right: 0;
  }
  .john_tools {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
  }
  .app__mobile--group {
    width: 100vw;
  }
  .john_canvas {
    width: 100%;
    display: inline-block;
  }
  .palette-grid {
    display: inline-block;
  }
  .john_output {
    width: 95%;
    margin: auto;
  }
}
.error__div {
  opacity: 0;
  display: none;
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.error__div.show {
  opacity: 1;
  display: block;
}
