#GAME_DIV {
  overflow: hidden;
  div {
  }
}
#GAME_MENU {
  pointer-events: none;
  position: fixed;
  opacity: 0;
  transition: 300ms;
  top: 15px;
  right: 15px;
  z-index: 99;
}
#GAME_MENU.show {
  pointer-events: initial;
  position: fixed;
  transition: 1000ms;
  opacity: 1;
}
.game__button-menu {
  image-rendering: pixelated;
  margin: 0;
  border: none;
  background: #eeeeee;
  font-weight: 100;
}
#GAME_MENU.hide .game__button-menu {
  opacity: 0;
}
.game__button-hide {
  image-rendering: pixelated;
  margin: 0;
  border: none;
  background: #eeeeee;
}
.game__button-menu:active {
  transform: scale(0.8);
}
.game__button-menu.selected {
  font-weight: 600;
}
.game__button-hide:active {
  transform: scale(0.8);
}
.game__button-install {
  opacity: 0;
  position: absolute;
  right: 1em;
  font-size: 0.8rem;
}
.game__button-install.show {
  opacity: 1;
}
#GAME_INFO {
  font-family: initial;
  background-color: #ffffff;
  padding: 20px 20px 50px 20px;
  margin: auto;
  width: max(600px, 70vw);
  height: 100vh;
  position: fixed;
  width: 80vw;
  max-width: 400px;
  opacity: 0;
  pointer-events: none;
  transition: 500ms;
  overflow: scroll;
}
#GAME_INFO.show {
  pointer-events: initial;
  opacity: 1;
}
#GAME_INVENTORY {
  background-color: #eeeeee50;
  padding: 20px 20px 50px 20px;
  right: 15px;
  top: 40px;
  width: 196px;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: 400ms;
  overflow: auto;
  padding: 3px;
  border-radius: 4px;
  transform: translateX(10px);
  font-size: 1em;
}
#GAME_INVENTORY.show {
  pointer-events: initial;
  opacity: 1;
  transform: translateX(0px);
}
#GAME_DIV {
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition: 400ms;
}
#GAME_DIV.show {
  opacity: 1;
  position: fixed;
  pointer-events: initial;
  transition: 400ms;
}
#PHASER_ROOT {
  position: fixed;
}
