.page__container {
  opacity: 0;
  transition: 1200ms;
  z-index: 99999;
  @media screen and (max-width: 600px) {
    padding: 15px;
  }
  @media screen and (min-width: 600px) {
    padding: 4% 0;
    max-width: min(500px, 100vh);
    margin: 0 auto;
  }
  padding-bottom: 60px;
  .page__button-back {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin-right: 0;
    color: grey;
    position: relative;
  }
  .page__submitted {
    margin: 20vh 5vw;
    display: none;
    opacity: 0;
    transition: all 300ms;
  }
  .page__submitted.show {
    display: block;
    opacity: 1;
    transition: all 300ms;
  }
  .page__submit {
    float: right;
    clear: both;
    padding: 0.3em 2em;
  }
  .page__form {
    padding-bottom: 20px;
    h1 {
      display: block;
      top: 0;
      background: black;
      border-radius: 20px;
      color: white;
      text-align: center;
      padding: 5px;
      margin-top: 10px;
    }
    .page__label {
      input {
        margin: 10px 0 15px;
        padding: 5px 0;
        color: white;
        background: gray;
        display: block;
        border-radius: 6px;
      }

      input:disabled {
        background-color: lightgray;
      }
      input:focus {
        background: rgb(83, 83, 83);
      }
      select {
        display: block;
        margin: 10px 0 20px;
      }
      .page__textarea.dialog {
        margin: 10px 0 15px;
        appearance: none;
        box-shadow: none;
        text-align: center;
        font-size: 0.95em;
        padding: 0 5px;
        border-radius: 6px;
        background-color: rgb(247, 247, 247);
        color: black;
        border: none;
        width: 100%;
        height: 5em;
        transform: scale(1);
        transition: 0.3s;
      }
      .page__textarea.dialog:focus {
        transform: scale(1.08);
      }
    }
  }
}
.page__container.show {
  opacity: 1;
}
.page__span-color {
  width: 1em;
  height: 1em;
  vertical-align: bottom;
  display: inline-block;
  margin-right: 1em;
}
.page__div-color {
  margin: 10px;
  font-style: italic;
}
sub {
  font-size: 0.6em;
  position: relative;
  bottom: 5px;
  color: gray;
}
.page__link {
  text-decoration: underline;
  color: grey !important;
}
.dimension_group {
  margin-top: 5px;
  display: inline-block;
  width: 133px;
}
.tools_group {
  display: inline-block;
  width: 100vw;
  margin: 10px -5px;
}
