.palette-grid {
  lost-utility: clearfix;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 5px;
  width: calc(100% - 137px);
  background: grey;
  height: 101px;
  overflow-y: scroll;
  border: inset;
}
@media screen and (min-width: 900px) {
  .palette-grid {
    top: -256px;
    left: 376px;
    width: calc(100% - 360px);
    height: 168px;
    overflow-y: scroll;
  }
}
