.grid-container {
  lost-utility: clearfix;
  line-height: 0;
  min-height: 1px;
  width: 95%;
  touch-action: none;
  border-left: 0.1px solid grey;
  border-top: 0.1px solid grey;

  div {
    float: left;
    border-right: 0.1px solid grey;
    border-bottom: 0.1px solid grey;
  }

  &.cell {
    cursor: cell;
  }

  &.context-menu {
    cursor: context-menu;
  }

  &.copy {
    cursor: copy;
  }

  &.all-scroll {
    cursor: all-scroll;
  }
}
