.undo-redo {
  lost-utility: clearfix;

  button {
    background: transparent;
    border:none;
    cursor: pointer;
    lost-column: 1/2 0 0.5em;
    font-size: 0.9em;
    width:auto;
    margin-right: 0px !important;
    margin-bottom: 16px;
    margin-top: 15px;
  }

  .undo-redo__icon--undo {
    @mixin icon undo;
    display: block;
  }

  .undo-redo__icon--redo {
    @mixin icon redo;

    display: block;
  }
}
