html {
  box-sizing: border-box;
  background-color: $color-scorpion;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}
html,
body {
  position: relative;
  font-family: $font-pixel;
}

body {
  overflow: hidden;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 5px 0px;
  font-size: 0.8em;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.app-container {
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 0.8em;
  padding-right: 1em;
  display: inline;
  position: relative;
  top: -0.9em;
}

h3 {
  font-size: 1em;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

* {
  user-select: none;
}
