.frames-handler {
  lost-utility: clearfix;

  .frames-handler__add {
    height: 66px;
    float: left;
    font-size: 2em;
    background: #131313;
    border: none;
    border-radius: 7px;
    color: white;
  }
  .frames-handler__add:active {
    transform: scale(0.9);
  }

  .frame-handler__list {
    display: flex;
    padding: 0.2em;

    .list__container {
      height: 65px;
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
    }
  }
}
