#GAME_DIV {
  overflow: hidden;
}

#GAME_UI > div {
  filter: blur(0.2px);
}

@media screen and (max-width: 600px) {
  #GAME_UI > div {
    filter: blur(0.2px);
  }
  #GAME_UI {
    font-size: 13px;
  }
}

#GAME_MENU {
  position: fixed;
  border: solid 4px;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  bottom: 0px;
  right: 5px;
}
#GAME_DATE {
  position: fixed;
  border: solid 4px;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  top: 0px;
  left: 5px;
}
#GAME_LOCATION {
  position: fixed;
  border: solid 4px;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  top: 0px;
  right: 5px;
}

#GAME_UI {
  pointer-events: none;
  opacity: 0;
  transition: 1500ms;
}
#GAME_UI.show {
  pointer-events: initial;
  opacity: 1;
}
.game__div-ui {
  transition: 1000ms;
  background: white;
  z-index: 99;
  font-family: 'pixelCN';
  font-size: 1.2em;
  padding: 0px 5px;
  transform: scale(0.7);
}
#GAME_UI.show > .game__div-ui {
  transform: scale(1);
}
.game__button-menu {
  image-rendering: pixelated;
  user-select: none;
  margin: 0.2em 0.1em 0em;
  padding: 0.2em 0.05em 0.2em;
  border: none;
  background: transparent;
  font-weight: 100;
  cursor: grab;
}
#GAME_MENU.hide .game__button-menu {
  opacity: 0;
}
#GAME_MENU.hide .game__button-hide {
  opacity: 1;
}

.game__button-menu:active {
  transform: scale(0.8);
}
.game__button-menu.selected {
  font-weight: 600;
}

.game__button-close-info {
  position: absolute;
  cursor: pointer;
  right: 1em;
  font-size: 1.2rem;
  font-weight: 600;
  background: transparent;
  border: none;
}
.game__button-install {
  opacity: 0;
  position: relative;
  font-size: 0.7em;
  bottom: -4px;
  background: transparent;
  border-radius: 3px;
  border: solid 1px #5d5d5d;
  cursor:pointer;
}
.game__button-install.show {
  opacity: 1;
}
#GAME_INFO {
  user-select: none;
  background-color: #ffffff;
  padding: 20px 20px 50px 20px;
  margin: auto;
  width: min(550px, 100vw);
  height: 100vh;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: 500ms;
  overflow: scroll;
  z-index: 999;
}
#GAME_INFO.show {
  pointer-events: initial;
  opacity: 1;
}
#GAME_INVENTORY {
  user-select: none;
  background-color: grey;
  color: white;
  right: 9px;
  bottom: 47px;
  width: 140px;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: 400ms;
  overflow: auto;
  padding: 6px;
  border-radius: 10px;
  transform: translateX(10px);
  font-size: 1em;
}
.page__span-color {
  margin: 0;
}
#GAME_INVENTORY.show {
  pointer-events: initial;
  opacity: 1;
  transform: translateX(0px);
}
#GAME_DIV {
  user-select: none;
  opacity: 0;
  position: fixed;
  pointer-events: none;
  transition: 400ms;
}
#GAME_DIV.show {
  opacity: 1;
  position: fixed;
  pointer-events: initial;
  transition: 400ms;
}
#PHASER_ROOT {
  user-select: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
