.reset {
  font-size: 0.6em;
  width: 100%;
  margin-top: 2px;
  position: relative;
  bottom: 1px;
  padding: 3px;
  margin: 0;
  display: inline-block;
  background: white;
  color: #131313;
  border: #5d5d5d solid 1px;
  border-top: none;
}
.reset:active {
  background: rgb(206, 206, 206);
}
