.undo-redo {
  lost-utility: clearfix;
  display: inline-block;
  position: relative;
  top: 0.4px;
  left: 1.5px;
  @media screen and (min-width: 900px) {
    left: -0.4px;
    top: 2px;
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 17px;
    width: auto;
  }

  .undo-redo__icon--undo {
    @mixin icon undo;
    display: block;
    background: transparent;
  }
  .undo-redo__icon--undo:active {
    transform: scale(1.3);
  }
  .undo-redo__icon--redo {
    @mixin icon redo;
    background: transparent;
    display: block;
  }
  .undo-redo__icon--redo:active {
    transform: scale(1.3);
  }
}
